TMS/TMS/Web References/localhost2/TestWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice_layer" targetNamespace="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice_layer">
      <xsd:element name="test">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="testResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="testReturn" type="impl:Test" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Task">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="duration" type="xsd:int" />
          <xsd:element name="start" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTask">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="impl:Task" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Test">
        <xsd:sequence>
          <xsd:element name="tasklist" nillable="true" type="impl:ArrayOfTask" />
          <xsd:element name="name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="testResponse">
    <wsdl:part name="parameters" element="impl:testResponse" />
  </wsdl:message>
  <wsdl:message name="testRequest">
    <wsdl:part name="parameters" element="impl:test" />
  </wsdl:message>
  <wsdl:portType name="TestWebservice">
    <wsdl:operation name="test">
      <wsdl:input name="testRequest" message="impl:testRequest" />
      <wsdl:output name="testResponse" message="impl:testResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWebserviceSoapBinding" type="impl:TestWebservice">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="test">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="testRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="testResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestWebserviceService">
    <wsdl:port name="TestWebservice" binding="impl:TestWebserviceSoapBinding">
      <wsdlsoap:address location="http://localhost:13990/TMS/services/TestWebservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>