TMS/TMS/Web References/localhost/CustomerWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice_layer" targetNamespace="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice_layer">
      <xsd:element name="findCustomerArray">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="findCustomerArrayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="findCustomerArrayReturn" type="impl:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Customer">
        <xsd:sequence>
          <xsd:element name="address" nillable="true" type="xsd:string" />
          <xsd:element name="companyName" nillable="true" type="xsd:string" />
          <xsd:element name="cvr" type="xsd:int" />
          <xsd:element name="firstName" nillable="true" type="xsd:string" />
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="lastName" nillable="true" type="xsd:string" />
          <xsd:element name="telefone" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="findCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customerNo" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="findCustomerReturn" type="impl:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cust" type="impl:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deleteCustomerReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cust" type="impl:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateCustomerReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCustomer">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="cust" type="impl:Customer" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createCustomerResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createCustomerReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="findCustomerArrayRequest">
    <wsdl:part name="parameters" element="impl:findCustomerArray" />
  </wsdl:message>
  <wsdl:message name="deleteCustomerRequest">
    <wsdl:part name="parameters" element="impl:deleteCustomer" />
  </wsdl:message>
  <wsdl:message name="updateCustomerRequest">
    <wsdl:part name="parameters" element="impl:updateCustomer" />
  </wsdl:message>
  <wsdl:message name="updateCustomerResponse">
    <wsdl:part name="parameters" element="impl:updateCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="createCustomerRequest">
    <wsdl:part name="parameters" element="impl:createCustomer" />
  </wsdl:message>
  <wsdl:message name="findCustomerRequest">
    <wsdl:part name="parameters" element="impl:findCustomer" />
  </wsdl:message>
  <wsdl:message name="deleteCustomerResponse">
    <wsdl:part name="parameters" element="impl:deleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="findCustomerResponse">
    <wsdl:part name="parameters" element="impl:findCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="findCustomerArrayResponse">
    <wsdl:part name="parameters" element="impl:findCustomerArrayResponse" />
  </wsdl:message>
  <wsdl:message name="createCustomerResponse">
    <wsdl:part name="parameters" element="impl:createCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="CustomerWebservice">
    <wsdl:operation name="findCustomerArray">
      <wsdl:input name="findCustomerArrayRequest" message="impl:findCustomerArrayRequest" />
      <wsdl:output name="findCustomerArrayResponse" message="impl:findCustomerArrayResponse" />
    </wsdl:operation>
    <wsdl:operation name="findCustomer">
      <wsdl:input name="findCustomerRequest" message="impl:findCustomerRequest" />
      <wsdl:output name="findCustomerResponse" message="impl:findCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <wsdl:input name="deleteCustomerRequest" message="impl:deleteCustomerRequest" />
      <wsdl:output name="deleteCustomerResponse" message="impl:deleteCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdl:input name="updateCustomerRequest" message="impl:updateCustomerRequest" />
      <wsdl:output name="updateCustomerResponse" message="impl:updateCustomerResponse" />
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <wsdl:input name="createCustomerRequest" message="impl:createCustomerRequest" />
      <wsdl:output name="createCustomerResponse" message="impl:createCustomerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CustomerWebserviceSoapBinding" type="impl:CustomerWebservice">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findCustomerArray">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findCustomerArrayRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findCustomerArrayResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findCustomer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findCustomerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findCustomerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteCustomer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteCustomerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteCustomerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateCustomer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateCustomerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateCustomerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createCustomer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createCustomerRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createCustomerResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerWebserviceService">
    <wsdl:port name="CustomerWebservice" binding="impl:CustomerWebserviceSoapBinding">
      <wsdlsoap:address location="http://localhost:13990/TMS/services/CustomerWebservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>